<section id="about">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title" style="margin: 0px">About me</h1>
            <div class="content text-center" style="margin: 0px">
            	<div align="center" style="margin-top: -20px;">
            		<br/>노현빈<br/>
            		NHN<br/>
            		010 - 9558 - 1893<br/>
            		hyunbin.no@nhn.com<br/><br/>
            	
            	</div>
            </div>
            <div style="margin: 10px 0">
                <a class="btn-primary btn-blue" href="/#">Top</a>
            </div>
        </div>
    </div>
</section>
